/* Main content*/
/* Hero section */

/* ==========Portfolio page buttons ============= */
.nav-button {
  font-family: var(--global-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.nav-button {
  display: block;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent);
  background-color: var(--light);
  color: var(--primary-brand);
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.nav-button:hover,
.nav-button:focus {
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--pressed-state);
  color: var(--white-background);
  border-color: 1px solid transparent;
}

.portfolio-nav-btn {
  margin-right: 24px;
}
.portfolio-nav-btn:last-child {
  margin-right: 0;
}
.nav-button-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

/* Sections styles */

/* Second sections styles */

/* Third sections styles */

/* Portfolio page styles */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-title-tools {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-card-list {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-bottom: 48px;
}
.project-card-list:nth-child(3n + 3) {
  margin-right: 0;
}
.project-card-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card {
  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.project-card-overlay-wrapper {
  position: relative;
  max-width: 360px;
  border: transparent;
  overflow: hidden;
  transition-property: background;
  transition-property: border;
  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: var(--primary-brand);
  color: var(--light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.project-card-img {
  display: block;
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card:hover .overlay,
.project-card:focus .overlay {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card-text {
  position: relative;
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
  background-color: var(--white-background);
  z-index: 1;
}

/*======================== Footer ========================*/


/*===================== Modal window ======================*/
.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}
.modal {
  position: fixed;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  transition-property: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition-property: border, background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.close-back-icon {
  fill: var(--dark);
  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state);
  border: none;
}

.close-button:hover .close-back-icon,
.close-button:focus .close-back-icon {
  fill: var(--white-background);
}

/* ==========REVIEW FORM=========== */

.review-form-text {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark);
}

.review-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.review-form-wrapper {
  margin-bottom: 8px;
}
.reviev-form-input-wrapper {
  position: relative;
}

.review-form-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--subtle-text);
}

.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.reviev-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--dark);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.review-form-input-icon {
  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.reviev-form-input:focus {
  border-color: var(--primary-brand);
}
.reviev-form-input:focus + .review-form-input-icon {
  fill: var(--primary-brand);
}
.review-form-massage-wrapper {
  margin-bottom: 16px;
}
.review-form-massage {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition-property: border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.review-form-massage:focus {
  border-color: var(--primary-brand);
}
/* =============CHECKBOX================= */

.review-form-checkbox-wrapper {
  position: relative;
  margin-bottom: 24px;
}

.review-form-policy-link {
  line-height: 1.33;
  color: var(--primary-brand);
}

.review-form-checkbox {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.review-form-checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition-property: background-color, border, fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.checkbox:checked + .review-form-checkbox > .review-form-checkbox-icon {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.review-form-policy-link {
  color: var(--primary-brand);
}

.review-form-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white-background);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.review-form-btn:focus,
.review-form-btn:hover {
  background-color: var(--pressed-state);
}
