h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-inline-start: 0;
}

img {
  display: block;
  width: 100%;
}

/* general body styles */
body {
  font-family: var(--global-font);
  background-color: var(--white-background);
  color: var(--text);
}

address {
  font-style: normal;
}

/* Page Header  */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
