.customers {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 428px;
  padding: 96px 0;
}
.section-title-customers {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.customers-logo-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-list {
  flex: 190px;
  height: 88px;
  gap: 72px 16px;
}

.customers-logo-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--subtle-text);
  border-radius: 4px;
  border: 1px solid var(--subtle-text);
  transition-property: color, border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.customers-logo-icons:focus {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}
.customers-icons {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customers {
    max-width: 736px;
  }

  .customers-logo-list {
    justify-content: center;
  }
  .customers-list {
    width: 168px;
    height: 88px;
    margin-right: 24px;
  }
  .customers-list:nth-child(2n) {
    margin-right: 24px;
  }
  .customers-list:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding: 96px 0;
    max-width: 1128px;
  }
  .customers-logo-list {
    flex-wrap: nowrap;
  }
  .customers-list:nth-child(3n) {
    margin-right: 24px;
  }
  .customers-list:last-child {
    margin-right: 0;
  }
  .customers-logo-icons:hover {
    color: var(--pressed-state);
    border-color: var(--pressed-state);
  }
}
