.page-footer {
  margin: 0 auto;
  padding: 96px 15px;
  background-color: var(--dark);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.footer-logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-link {
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  font-family: var(--second-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  transition-property: color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.logo-sd-word {
  color: var(--light);
}
.logo-link:hover,
.logo-link:focus {
  color: var(--pressed-state);
}

.footer-text {
  width: 268px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--dark);
  color: var(--light);
}

.footer-media-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.social-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-background);
}

.footer-social-media {
  width: 40px;
  height: 40px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.social-media:hover,
.social-media:focus {
  background-color: var(--success);
}

.social-media-icon {
  width: 24px;
  height: 24px;
  fill: var(--light);
}

.footer-subscribe-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-form-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.subscribe-form-label {
  display: block;
  width: 100%;
}
.subscribe-form-input {
  display: block;
  width: 100%;
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.subscribe-form-input::placeholder {
  color: var(--white-background);
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--primary-brand);
  cursor: pointer;
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.subscribe-icon {
  margin-left: 16px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 96px 0;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 72px 24px;
    padding-left: 93px;
  }
  .footer-logo-block {
    display: inline-block;
    max-width: 264px;
  }
  .footer-media-block {
    display: inline-block;
    max-width: 208px;
    margin-right: 80px;
  }
  .footer-subscribe-block {
    display: inline-block;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-form-input {
    width: 264px;
  }
  .subscribe-form-label {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 0;
    align-items: baseline;
  }
  .footer-logo-block {
    margin-right: 120px;
  }
  .footer-media-block {
    margin-right: 80px;
  }
}
/* ++++++++++++++++++++++++++++++++++++ */

/* .page-footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: var(--dark);
}

.logo-sd-word {
  color: var(--light);
}
.logo-link {
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--dark);
  color: var(--light);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-block {
  display: inline-block;
  max-width: 264px;
  margin-right: 120px;
}
.footer-media-block {
  display: inline-block;
  max-width: 208px;
  margin-right: 80px;
}
.social-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-background);
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-social-media {
  width: 40px;
  height: 40px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.social-media:hover,
.social-media:focus {
  background-color: var(--success);
}

.social-media-icon {
  width: 24px;
  height: 24px;
  fill: var(--light);
}

.footer-subscribe-block {
  display: inline-block;
}
.subscribe-form-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-form-label {
  display: flex;
  align-items: center;
}

.subscribe-form-input {
  display: block;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.subscribe-form-input::placeholder {
  color: var(--white-background);
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--primary-brand);
  cursor: pointer;
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.subscribe-icon {
  margin-left: 16px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state);
}*/
