.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-title-tools {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-card-list {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-bottom: 48px;
}
.project-card-list:nth-child(3n + 3) {
  margin-right: 0;
}
.project-card-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card {
  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.project-card-overlay-wrapper {
  position: relative;
  max-width: 360px;
  border: transparent;
  overflow: hidden;
  transition-property: background;
  transition-property: border;
  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: var(--primary-brand);
  color: var(--light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
.project-card-img {
  display: block;
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card:hover .overlay,
.project-card:focus .overlay {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card-text {
  position: relative;
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
  background-color: var(--white-background);
  z-index: 1;
}
