.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  display: none;
}

.hidden-title {
  padding: 96px 0;
}

.tool-items {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.tool-item {
  margin-bottom: 8px;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
}

.tool-item-text {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .tool-items {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tool-items-function {
    /* display: flex;
    flex-direction: column; */
    margin-right: 24px;
    max-width: 356;
  }

  .tool-items-function:last-child {
    margin-right: 0;
  }
}

/* .hidden-title {
  padding: 120px 0;
}
.tool-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tool-items-function {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  max-width: 264px;
}

.tool-items-function:last-child {
  margin-right: 0;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
}

.tool-item {
  margin-bottom: 8px;
  color: var(--dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.tool-text {
  margin-top: 8px;
}

.tool-item-text {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */
