.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  display: none;
}

.hidden-title {
  max-width: 428px;
  margin: 0 auto;
  padding: 96px 0;
}

.tool-items {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.tool-item {
  margin-bottom: 8px;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
}

.tool-item-text {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .hidden-title {
    max-width: 736px;
  }
  .tool-items {
    min-width: 736px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .tool-items-function {
    display: block;

    width: 356px;
  }

  .tool-text {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .hidden-title {
    max-width: 1128px;
    padding: 120px 0;
  }

  .tool-items {
    flex-wrap: nowrap;
    row-gap: 0;
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
  }
  .tool-items-function {
    max-width: 264px;
  }

  .tool-item {
    font-size: 20px;
    line-height: 1.2;
  }
}
